.box{
  height: 480px;
  width: 1150px;
  border: 2px solid burlywood;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box1{
height: 300px;
width: 150px;
border: 2px solid violet;
border-radius: 8px;
}
.box2{
  height: 400px;
width: 200px;
border: 2px solid violet;
border-radius: 8px;
}
.box3{
  height: 300px;
width: 150px;
border: 2px solid violet;
border-radius: 8px;
  
}